include *.md
include *.txt
include manual.pdf
recursive-include onsager *.pl
recursive-include docs *.md
recursive-include docs *.txt
recursive-include docs *.tex
recursive-include bin *
recursive-include examples *.ipynb
prune bin/__pycache__
prune examples/.ipynb_checkpoints
